*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* min-height: 100vh; */
    min-width: fit-content;
    
    &::-webkit-scrollbar{
        width: 0.5rem;
    }

    &::-webkit-scrollbar-track{
        background: #020912;
        /* border-radius: 100vw; */
        /* margin-block: .5em; */
    }

    &::-webkit-scrollbar-thumb{
        background: hsl(3, 86%, 57%);
        border-radius: 100vw;
    }
}

/*Code for Navbar*/

    header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.logo{
    font-size: 2em;
    color: white;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 15px;
    transition: 0.5s;
}

.navigation a:hover,
.navigation a.active{
    color: red;
}

.navigation a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 30px;
    z-index: -1;
    transform: scale(0);
    transition: .5s;
    opacity: 0;
}

.navigation a:hover span,
.navigation a.active span{
    transform: scale(1);
    opacity: 1;
}

/*Code for parallax section*/

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    background: url('Assets/bg.png') no-repeat;/*alt img: https://i.pinimg.com/originals/08/7e/7e/087e7e302ab6f76db85bf324c54b5f08.jpg*/
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    z-index: -1;
}

#title{
    font-size: 5rem;
    position: absolute;
    color: white;
    text-shadow: 5px 8px 10px black;
    white-space: nowrap;
    width: fit-content;
    overflow: hidden;
    /* animation: typing 3s steps(40, end) 1; */
}
/* (Typing animetion) 
   @keyframes typing{
  0%{
    width: 0;
    border-right: 5px solid rgb(137, 12, 12);
  }
  50%{
    width: 26.5%;
  }
  100%{
    border-right: none;
  }
} */

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;

    &#gate-left{
        position: fixed;
        transform: translateX(-282px);
        /* transform: translate(-350px, 10px); */ /*use for bars*/
    }

    &#gate-right{
        position: fixed;
        transform: translateX(305px);
        /* transform: translate(1000px, 7px); */ /*use for bars */
    }

    &#grass{
        transform: translateY(-70px);
    }
}

@media (max-width: 1440px){
  .parallax img{ 
    &#grass{
    transform: translateY(-100px);
    }
  }
}

@media (max-width: 1024px){
  .parallax img{ 
    &#grass{
    transform: translateY(75px);
    }

    &#gate-left{
      transform: translate(-280px, 80px);
  }

  &#gate-right{
      transform: translate(280px, 80px);
  }
  }
}

@media (max-width: 786px){
  .parallax img{ 
    &#grass{
    transform: translateY(220px);
    }

    &#gate-left{
      transform: translate(-250px, 220px);
  }

  &#gate-right{
      transform: translate(250px, 220px);
  }
  }

  header{
    flex-direction: column;
}
}

@media (max-width:426px){
  .parallax img{ 
    &#grass{
    transform: translateY(730px);
    }

    &#gate-left{
      transform: translate(-250px, 720px);
  }

  &#gate-right{
      transform: translate(250px,720px);
  }
  }

  .loader{
    min-width: 200dvw;
    min-height: 200dvh;
  }

  header{
    display: none;
  }

  .title{
    min-width: 172%;
  }

  .parallax{
    min-height: 175dvh;
  }
}


/* @media (max-width:376px){
  .parallax img{ 
    &#grass{
    transform: translateY(860px);
    }

    &#gate-left{
      transform: translate(-250px, 880px);
  }

  &#gate-right{
      transform: translate(250px,880px);
  }
  }

  .loader{
    min-width: 200dvw;
    min-height: 200dvh;
  }

  header{
    display: none;
  }

  .title{
    min-width: 172%;
  }

  .parallax{
    min-height: 195dvh;
  }
} */
 

@media (max-width:400px){
  .parallax img{ 
    &#grass{
    transform: translateY(1100px);
    display: none;
    }

    &#gate-left{
      transform: translate(-250px, 1100px);
      display: none;
  }

  &#gate-right{
      transform: translate(250px,1100px);
      display: none;
  }
  }

  .loader{
    min-width: 200dvw;
    min-height: 200dvh;
  }

  .title{
    min-width: 195%;
  }

  .parallax{
    min-height: 195dvh;
  }

  .sidebar{
    width: 5rem;

    &.sidebar a{
      font-size: 3rem;
    }

    & #menu-bars, #menu-cross{
      font-size: 3rem;
      margin-left: 0.8rem;
    }

    &.sidebar img{
      width: 3.5rem;
      height: 4rem;
    }

    &.sidebar ul{
      margin-top: 25rem;
    }
  }

  .sidebar.active{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
  }

}


/*Code for card section 1*/

.sec{
    position: relative;
    background: #020912;
    padding: 30px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
}

@media (max-width: 1420px){
   .sec{
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-auto-flow: dense;
    grid-gap: 0.5rem; 
    place-items: center;
    }
}

.container {
    width: 350px;
    height: 500px;
    perspective: 800px;
    margin-top: 3rem;
    margin-left: 3rem;
  }
  
  .container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
  }
  
  .card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
  }
  
  .front,
  .back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.25);
    position: absolute;
    backface-visibility: hidden;
  }
  
  .front {
    background-image: url(https://source.unsplash.com/random/350x500);
    /*(Alternative) background-image: url(https://picsum.photos/350/500?random=2); */
  }
  
  .back {
    background-color: rgba(235, 68, 68, 0.625);
    background-size: cover;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    padding: 10px;
  }

  .title {
    color: white;
    font-size: 4rem;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
  }

  /*Code for card section 2*/

  .container1 {
    width: 350px;
    height: 500px;
    perspective: 800px;
    margin-top: 3rem;
    margin-left: 3rem;
  }

  .card img{
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.25);
    object-fit: cover;
  }

  .card::before{
    content: "";
    backdrop-filter: blur(10px);
    border-radius: 2rem;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 300ms;
  }

  .card:hover::before{
    opacity: 1;
  }

  .card .info{
    position: relative;
    color: white;
    opacity: 0;
    bottom: 12rem;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: 800ms;
  }
  .card:hover .info{
    opacity: 1;
    bottom: 23rem;
  }


  /*Code for Search Bar*/

  .searchBar{
    outline: none;
    border: 2px solid black;
    border-radius: 1.5rem;
    padding: 5px;
    transition: 400ms;

    &:focus-within{
      border: 4px solid firebrick;
    }
  }

  .icon, #search{
    outline: none;
    background: transparent;
    border: none;
    font-size: 0.8rem;
    align-items: center;
    border: none;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    text-overflow: ellipsis;
    color: black;

    &:focus{
      background: transparent;
    }

  }

  ::placeholder{
    color: black;
    text-align: center;
  }


/*Code for footer*/

footer{
  background: #020912;
}
footer h3{
  color: white;
  text-align: center;
  margin: 2rem 3rem ;
}

  .list{
    background: #020912;
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
    padding: 30px 100px;
    color: white;
  }

  .list ul li{
    padding: 0.3rem;
  }

  .list a{
    text-decoration: none;
    color: white;
    &:hover{
      color: rgb(191, 49, 49);
    }
  }

  /*Code for loading animation*/

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('Assets/loader.jpg') no-repeat;
    /* background: #020912; */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 5;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  /* Spinner animation code: */

   /* .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  } */
  
  /* Typing animation code */

  .loader::after{
    content: "Welcome To";
    font-size: 5rem;
    position: absolute;
    color: white;
    text-shadow: 5px 8px 10px black;
    white-space: nowrap;
    width: fit-content;
    animation: typing 3s steps(40, end) 1;
    overflow: hidden;
  }

  @keyframes typing{
    0%{
      width: 0;
      border-right: 5px solid rgb(81, 3, 3);
    }
    50%{
      width: 26.5%;
    }
    100%{
      border-right: none;
    }
  } 


  /*Sidebar code*/

  .sidebar{
    background-color: #0209128c;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    min-width: 3rem;
    color: white;
    height: 100%;
    z-index: 3;
    transition: all 200ms ease-in-out;
  }

  .sidebar.active{
    min-width: 15rem;

    &.sidebar h3{
      display: inline;
    }

    #menu-bars{
      display: none;
    }

    #menu-cross{
      display: block;
    }
  }

  #menu-cross{
    display: none;
  }

  #menu-bars, #menu-cross{
    font-size: 1.5rem;
    left: .5rem;
    color: white;
    position: absolute;
    top: 2.4rem;
  }

  #menu-span{
    display: flex;
    gap: 2rem;
  }

  #menu-btn, #menu-btn1{
    background: transparent;
    border: none;
    cursor: pointer;
    /* display: none; */
  }

  .sidebar ul{
    position: relative;
    left: .5rem;
    top: 5rem;
    display: grid;
    gap: 2rem;
    list-style: none;
    width: fit-content;
    /* height: 100dvh; */
  }

  .sidebar a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    height: max-content;
  }

  .sidebar h3{
    display: none;
    transition: all 200ms ease;
  }

  .sidebar img{
    width: 2rem;
    height: 2.2rem;
    border-radius: 100%;
  }

  .sidebar a:hover{
    background: rgb(191, 49, 49);
    border-radius: 5px;
  }

  /*Download btn*/

  .download_btn{
    background-color: aquamarine;
    border-radius: 10px;
    border: 2px solid black;
    padding: 0.5rem;
    font-size: large;
    font-weight: bolder;
    transition: all 200ms;

    &:hover{
      background-color: rgb(29, 152, 152);
    }
  }